<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/55bc9722-4eb5-4aa2-9ce9-9d232165c10f/resourceGroups/telemetry-receiver_group/providers/Microsoft.Web/sites/telemetry-receiver</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://telemetry-receiver.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://telemetry-receiver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$telemetry-receiver</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>